<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="POST" action="/posts">
      <p> Post Title: <input type="text" name="name"></p>
      <p> Content: <input type="text" name="content"></p>
      <input type="submit" id="submit">
    </form>
  </body>
</html>
